<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Edit roleName </title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about role</title>
</head>
<body>
<h1>Редактирование роли</h1>
<a href ="/logout">Log out</a>
<br/><br>
<form th:action="@{/role{id}(id = ${Role.getId()})}"
      th:object="${Role}"
      th:method="PATCH">
    <p>
        <label for="RoleName"> Введите  название роли:  </label>
        <input type="text" th:field ="*{roleName}" id="RoleName"/>
        <e style="color: red" th:if="${#fields.hasErrors('roleName')}" th:errors ="*{roleName}">Role Name  Error</e>

    </p>

    <p>
        <input type="submit" value="сохранить">
    </p>

</form>
</body>
</html>