<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"><head>
    <meta charset="UTF-8">
    <title>Admin panel </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet+" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



    <style>table th,
    table td{padding:10px;}
    row {
        font-style: italic;
    }
    </style>
</head>

<body>
    <div class="container-sm">
        <h1>Admin panel</h1>
       <!-- <h2> Welcome user <th th:text="${user.getUsername()}"></th> your id is <th th:text ="${user.getId()}"!!! ></th>  <th th:text="${user.getRoles()}"></h2> -->

        	<!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
<div class="card">
  <div class="card-header" >
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation" >
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#AllUsers" role="tab" aria-controls="home" aria-selected="true"> Users table</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#addNewUser" role="tab" aria-controls="profile" aria-selected="false">New User</a>
      </li>
     
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      
<div class="tab-pane fade active show" id="AllUsers" role="tabpanel" aria-labelledby="home-tab">
	<div class="card-header">All users</div>
    <table class="table table-sm">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Возраст</th>
            <th scope="col">Город</th>
            <th scope="col">Роли</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>

        </tr>
        </thead>


        <tbody><tr th:each="user:${usersSet}">


            <td th:utext="${user.id}">ID</td>
            <td th:utext="${user.userName}">First name</td>
            <td th:utext="${user.surname}">Surname</td>
            <td th:utext="${user.age}">Age</td>
            <td th:utext="${user.city}">City</td>

            <td>
                <ul>
                    <th:block th:each="role : ${user.roles}">
                        <li th:text="${role.roleName}">ROLE_USER</li>
                    </th:block>
                </ul>
            </td>


            <td> <a href="#" th:href="@{/edit/{id}(id=${user.getId()})}">
             <button type="button" class="btn btn-info">Редактировать</button> </a></td>
            <td><a href="#" th:href="@{/{id}(id=${user.getId()})}">
            <button type="button" class="btn btn-danger">Удалить</button> </a></td>


        </tr>

        </tbody>
        </table>
</div>
      <div class="tab-pane fade" id="addNewUser" role="tabpanel" aria-labelledby="profile-tab">
			<div class="card-header">Add new user</div>
			<form th:action="@{/saveUser}" th:object="${user}" th:method="POST">

    
					<div class="col-14">
						<p class="form-label" for="username">First name: </p>
						<input type="text" class="form-control"  id="username" th:field="*{username}" placeholder="username">
       
     

     
						<p class="form-label" for="surname" > Last name :  </p>
						<input type="text" class="form-control"  id="surname"th:field="*{surname}" placeholder="surname">
        
     

						<p class="form-label" for="city"> City: </p>
						<input type="text" class="form-control"  id="city"  th:field="*{city}" placeholder ="city">
							

						<p class="form-label" for="age"> Age: </p>
						<input type="text" class="form-control"  id="age" th:field="*{age}" placeholder="age">
						
						<p class="form-label" for="password"> Password: </p>
                        <input type ="text" class="form-control" th:field="*{password}" id="password" placeholder="password">


                            <p class ="form-label" for="roles"> Roles:</label>
                                 <input type="checkbox" name ="roles_checkbox"
                                        th:each ="role: ${RolesSet}"
                                        th:text ="${role.getRoleName()}"
                                        th:value="${role.getRoleName()}"



                                 />


                            </p>


<!--                       <select th:field="*{roles}" data-th-name="roles_List"  input type="list">Почему в этом месте код работает без : th:field="*{roles}"????-->
                        <p class ="form-label" for="roles"> Roles:</label> </p>
                           <select data-th-name="roles_List" input type="list">
                           <option value="" >--</option>
                           <option th:each="role:${RolesSet}"
                                   th:value="${role.getId()}"
                                   th:text="${role.roleName}"></option>
                       </select>

                        <button type="button-submit" class="btn btn-success">Add new user</button>
 </form>
		</div>
     
    </div>
  </div>
</div>
		
		
		

        

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>

        </div>




    <br><br>





 


    





</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>