<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"><head>
    <meta charset="UTF-8">
    <title>Admin panel </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet+" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">




    <style>table th,
    table td{padding:10px;}
    row {
        font-style: italic;
    }
    </style>
</head>

<body style ="text-align: center;">
	<div class ="row">
		<div class="d-flex align-items-start" >

			  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#AllUsers" role="tab" aria-controls="AllUsers" aria-selected="true">Admin</a>
					<a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
			  </div>
			   
			   
	<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show" id="AllUsers" role="tabpanel" aria-labelledby="v-pills-admin-tab">
				<div class="col-bg-10 bg-light">
							<h1>Admin panel</h1>

        	<!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
<div class="card">
  <div class="card-header" >
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation" >
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#usersTable" role="tab" aria-controls="home" aria-selected="true"> Users table</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#addNewUser" role="tab" aria-controls="profile" aria-selected="false">New User</a>
      </li>
     
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      
<div class="tab-pane fade active show" id="usersTable" role="tabpanel" aria-labelledby="home-tab">
	<div class="card-header">All users</div>
    <table class="table table-sm">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Возраст</th>
            <th scope="col">Город</th>
            <th scope="col">Роли</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>

        </tr>
        </thead>


        <tbody><tr  th:each="user:${usersSet}"  >


            <td th:utext="${user.id}">ID</td>
            <td th:utext="${user.username}">First name</td>
            <td th:utext="${user.surname}">Surname</td>
            <td th:utext="${user.age}">Age</td>
            <td th:utext="${user.city}">City</td>

            <td>
                <ul>
                    <th:block th:each="role : ${user.roles}">
                        <li th:text="${role.roleName}">ROLE_USER</li>
                    </th:block>
                </ul>
            </td>


            <td>


<a button type="button" class="btn btn-success" data-bs-toggle="modal"
 href="#edit"  th:attr="data-bs-target='#exampleModal'+*{user.id}"> Edit </a>


<!-- Modal -->
<div class="modal fade" th:id="*{'exampleModal'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  th:action="@{/edit/{id}(id=${user.getId()})}"
                                  th:object="${user}"
                                  th:method="POST">


            <p class="col-14">
            <div class="mb-3">


            <div class="row justify-content-center">
                <div class="col col-sm-8">


                                <div class="mb-3">
                                   <label for="idEdit" class="col-form-label">id:</label>
                                    <input type="text" class="form-control" disabled="disabled" id="idEdit" name="userId" th:value="*{id}">
                                </div>


                                <div class="mb-3">
                                    <label for="username" class="col-form-label">First name:</label>
                                    <input type="text" class="form-control" id="usernameEdit" name="username" th:value="*{username}">
                                </div>

                                <div class="mb-3">
                                    <label for="surname" class="col-form-label">Last name:</label>
                                    <input type="text" class="form-control" id="surnameEdit" name="surname" th:value="*{surname}">
                                </div>

                                <div class="mb-3">
                                    <label for="city" class="col-form-label">City:</label>
                                    <input type="text" class="form-control" id="cityEdit" name="city" th:value="*{city }">
                                </div>

                                <div class="mb-3">
                                    <label for="age" class="col-form-label">Age:</label>
                                    <input type="number" class="form-control" id="ageEdit" name="age" th:value="*{age}">
                                </div>


                                <div class="mb-3">
                                    <label for="password" class="col-form-label">Password:</label>
                                    <input type="text" class="form-control" id="passwordEdit" name="password" th:value="*{password}">
                                </div>



            <div clas="col col-sm-8">
                <p class ="form-label" align="center" for="roles"> Roles:</label></p>
                <div clas="row justify-content-center">
                    <select data-th-name="roles_List" multiple input type="list">

                        <option th:each="role:${RolesSet}"
                                th:value="${role.getId()}"
                                th:text="${role.roleName}"></option>
                    </select> </p>
                </div>

            </div>





      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-submit="modal">Save changes</button>

      </div>
    </div>
  </div>
</div>

        </form>
      </div>
    </div>
  </div>
</div>


<!--            <td><a href="#" th:href="@{delete/{id}(id=${user.getId()})}">-->
<!--            <button type="button" class="btn btn-danger">Удалить</button> </a></td>-->

        <td>  <a button type="button" class="btn btn-danger" data-bs-toggle="modal"
              href="#delete"  th:attr="data-bs-target='#exampleModal1'+*{user.id}"> Delete  </a>
        </td>




            <!-- Modal -->
            <div class="modal fade" th:id="*{'exampleModal1'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
<!--                            'это для рест приложения  расскоментить в контроллере delete metod  c PathVariable-->
                                    <form  th:action="@{/delete/{id}(id=${user.getId()})}"
                                    th:object="${user}"
                                    th:method="POST">


<!--                                  <form th:action="@{/delete/}"-->
<!--                                  th:object="${user}"-->
<!--                                  th:method="POST">-->



                                <p class="col-14">
                                <div class="mb-3">


                                    <div class="row justify-content-center">
                                        <div class="col col-sm-8">


                                            <div class="mb-3">
                                                <label for="idDelete" class="col-form-label">id:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="idDelete" th:name="idDelete" th:value="*{id}"/>
                                            </div>


                                            <div class="mb-3">
                                                <label for="username" class="col-form-label">First name:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="usernameDelete" name="username" th:value="*{username}">
                                            </div>

                                            <div class="mb-3">
                                                <label for="surname" class="col-form-label">Last name:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="surnameDelete" name="surname" th:value="*{surname}">
                                            </div>

                                            <div class="mb-3">
                                                <label for="city" class="col-form-label">City:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="cityDelete" name="city" th:value="*{city }">
                                            </div>

                                            <div class="mb-3">
                                                <label for="age" class="col-form-label">Age:</label>
                                                <input type="number" class="form-control" disabled="disabled" id="ageDelete" name="age" th:value="*{age}">
                                            </div>


                                            <div class="mb-3">
                                                <label for="password" class="col-form-label">Password:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="passwordDelete" name="password" th:value="*{password}">
                                            </div>



                                            <div clas="col col-sm-8">
                                                <p class ="form-label" align="center" for="roles"> Roles:</label></p>
                                                <div clas="row justify-content-center">
                                                    <select data-th-name="roles_List" multiple input type="list" disabled="disabled">

                                                        <option th:each="role:${RolesSet}"
                                                                th:value="${role.getId()}"
                                                                th:text="${role.roleName}"></option>
                                                    </select> </p>
                                                </div>

                                            </div>





                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-bs-submit="modal">Delete</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>





        </tr>

        </tbody>
        </table>
</div>
      <div class="tab-pane fade" id="addNewUser" role="tabpanel" aria-labelledby="profile-tab">
			<div class="card-header">Add new user</div>
			<form th:action="@{/saveUser}" th:object="${user}" th:method="POST">

    
					<p class="col-14">
                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
						                <p class="form-label" align="center" for="username">First name: </p>
						                <input type="text" class="form-control"  id="username" th:field="*{username}" placeholder="username">
                                    </div>
                            </div>
       
     
                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="surname" > Last name :  </p>
                                        <input type="text" class="form-control"  id="surname"th:field="*{surname}" placeholder="surname">
                                    </div>
                            </div>
        
     

                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="city"> City: </p>
                                        <input type="text" class="form-control"  id="city"  th:field="*{city}" placeholder ="city">
                                    </div>
                            </div>


                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="age"> Age: </p>
                                        <input type="text" class="form-control"  id="age" th:field="*{age}" placeholder="age">
                                    </div>
                            </div>



                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="password"> Password: </p>
                                        <input type ="text" class="form-control" th:field="*{password}" id="password" placeholder="password">
                                    </div>
                            </div>
						

                                    <div clas="col col-sm-8">
                                            <p class ="form-label" align="center" for="roles"> Roles:</label></p>
                                        <div clas="row justify-content-center">
                                            <select data-th-name="roles_List" multiple input type="list">

                                                <option th:each="role:${RolesSet}"
                                                        th:value="${role.getId()}"
                                                        th:text="${role.roleName}"></option>
                                            </select> </p>
                                        </div>

                                    </div>






                        <div class="text-center">
                            <button type="button-submit" class="btn btn-success" align="center" >Add new user</button>
                        </div>


 </form>
		</div>
     
    </div>
  </div>
</div>
	
	
	
	
	
	</div>
    <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-uzer-tab">This is tab for user .</div>
   </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>