<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:Roles="http://www.w3.org/1999/xhtml"
      xmlns:type="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление роли </title>
</head>
<body>
<h1>Добавление роли </h1>
<a href ="/logout">Log out</a>
<br/><br>
<form th:action= "@{saveRole}"
      th:object="${Role}"
      th:method="POST">

    <p>
        <label for="RoleName"> Введите  название роли:  </label>
        <input type="text" th:field ="*{roleName}" id="roleName"/>
        <e style="color: red" th:if="${#fields.hasErrors('roleName')}" th:errors ="*{roleName}">Role Name  Error</e>

    </p>

    <p>
        <input type="submit" value="сохранить">
    </p>

</form>
</body>
</html>
