<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-1 bg-white" style="padding-top: 20px; padding-left: 0px; padding-right: 0px; height: 100vh">
                <!--навигация слева-->
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#AllUsers">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#AdminTable">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 bg-light"
                 style="padding-top: 20px;
                        height: 100vh">
                <div class="tab-content">
                    <!--                    Основная вкладка админа-->
                    <div class="tab-pane fade show active" id="AllUsers">
                        <h2 class="h2">Admin panel</h2>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#UsersTable">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#NewUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="UsersTable">
                                <div class="card">
                                    <h5 class="card-header">All users</h5>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
<thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Возраст</th>
            <th scope="col">Город</th>
            <th scope="col">Роли</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>

        </tr>
        </thead>


        <tbody><tr  th:each="user:${usersSet}"  >


            <td th:utext="${user.id}">ID</td>
            <td th:utext="${user.username}">First name</td>
            <td th:utext="${user.surname}">Surname</td>
            <td th:utext="${user.age}">Age</td>
            <td th:utext="${user.city}">City</td>

            <td>
                <ul>
                    <th:block th:each="role : ${user.roles}">
                        <li th:text="${role.roleName}">ROLE_USER</li>
                    </th:block>
                </ul>
            </td>


            <td>


<a button type="button" class="btn btn-success" data-bs-toggle="modal"
 href="#edit"  th:attr="data-bs-target='#exampleModal'+*{user.id}"> Edit </a>


<!-- Modal -->
<div class="modal fade" th:id="*{'exampleModal'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  th:action="@{/edit/{id}(id=${user.getId()})}"
                                  th:object="${user}"
                                  th:method="POST">


            <p class="col-14">
            <div class="mb-3">


            <div class="row justify-content-center">
                <div class="col col-sm-8">


                                <div class="mb-3">
                                   <label for="idEdit" class="col-form-label">id:</label>
                                    <input type="text" class="form-control" disabled="disabled" id="idEdit" name="userId" th:value="*{id}">
                                </div>


                                <div class="mb-3">
                                    <label for="username" class="col-form-label">First name:</label>
                                    <input type="text" class="form-control" id="usernameEdit" name="username" th:value="*{username}">
                                </div>

                                <div class="mb-3">
                                    <label for="surname" class="col-form-label">Last name:</label>
                                    <input type="text" class="form-control" id="surnameEdit" name="surname" th:value="*{surname}">
                                </div>

                                <div class="mb-3">
                                    <label for="city" class="col-form-label">City:</label>
                                    <input type="text" class="form-control" id="cityEdit" name="city" th:value="*{city }">
                                </div>

                                <div class="mb-3">
                                    <label for="age" class="col-form-label">Age:</label>
                                    <input type="number" class="form-control" id="ageEdit" name="age" th:value="*{age}">
                                </div>


                                <div class="mb-3">
                                    <label for="password" class="col-form-label">Password:</label>
                                    <input type="text" class="form-control" id="passwordEdit" name="password" th:value="*{password}">
                                </div>



            <div clas="col col-sm-8">
                <p class ="form-label" align="center" for="roles"> Roles:</label></p>
                <div clas="row justify-content-center">
                    <select data-th-name="roles_List" multiple input type="list">

                        <option th:each="role:${RolesSet}"
                                th:value="${role.getId()}"
                                th:text="${role.roleName}"></option>
                    </select> </p>
                </div>

            </div>





      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-submit="modal">Save changes</button>

      </div>
    </div>
  </div>
</div>

        </form>
      </div>
    </div>
  </div>
</div>


<!--            <td><a href="#" th:href="@{delete/{id}(id=${user.getId()})}">-->
<!--            <button type="button" class="btn btn-danger">Удалить</button> </a></td>-->

        <td>  <a button type="button" class="btn btn-danger" data-bs-toggle="modal"
              href="#delete"  th:attr="data-bs-target='#exampleModal1'+*{user.id}"> Delete  </a>
        </td>




            <!-- Modal -->
            <div class="modal fade" th:id="*{'exampleModal1'+user.id}" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
<!--                            'это для рест приложения  расскоментить в контроллере delete metod  c PathVariable-->
                                    <form  th:action="@{/delete/{id}(id=${user.getId()})}"
                                    th:object="${user}"
                                    th:method="POST">


<!--                                  <form th:action="@{/delete/}"-->
<!--                                  th:object="${user}"-->
<!--                                  th:method="POST">-->



                                <p class="col-14">
                                <div class="mb-3">


                                    <div class="row justify-content-center">
                                        <div class="col col-sm-8">


                                            <div class="mb-3">
                                                <label for="idDelete" class="col-form-label">id:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="idDelete" th:name="idDelete" th:value="*{id}"/>
                                            </div>


                                            <div class="mb-3">
                                                <label for="username" class="col-form-label">First name:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="usernameDelete" name="username" th:value="*{username}">
                                            </div>

                                            <div class="mb-3">
                                                <label for="surname" class="col-form-label">Last name:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="surnameDelete" name="surname" th:value="*{surname}">
                                            </div>

                                            <div class="mb-3">
                                                <label for="city" class="col-form-label">City:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="cityDelete" name="city" th:value="*{city }">
                                            </div>

                                            <div class="mb-3">
                                                <label for="age" class="col-form-label">Age:</label>
                                                <input type="number" class="form-control" disabled="disabled" id="ageDelete" name="age" th:value="*{age}">
                                            </div>


                                            <div class="mb-3">
                                                <label for="password" class="col-form-label">Password:</label>
                                                <input type="text" class="form-control" disabled="disabled" id="passwordDelete" name="password" th:value="*{password}">
                                            </div>



                                            <div clas="col col-sm-8">
                                                <p class ="form-label" align="center" for="roles"> Roles:</label></p>
                                                <div clas="row justify-content-center">
                                                    <select data-th-name="roles_List" multiple input type="list" disabled="disabled">

                                                        <option th:each="role:${RolesSet}"
                                                                th:value="${role.getId()}"
                                                                th:text="${role.roleName}"></option>
                                                    </select> </p>
                                                </div>

                                            </div>





                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-bs-submit="modal">Delete</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>





        </tr>

        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--                            вкладка New User-->
                            <div class="tab-pane fade" id="NewUser">
                                <div class="form-group col-xs-12">
                                    <div class="control-group required">
                                        <div class="card">
                                            <h5 class="card-header">Add new user</h5>
                                            <div class="card-body text-center">
                                                <div class="form justify-content-center mx-auto col-md-3">
                                                    <form th:action="@{/saveUser}" th:object="${user}" th:method="POST">

    
					<p class="col-14">
                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
						                <p class="form-label" align="center" for="username">First name: </p>
						                <input type="text" class="form-control"  id="username" th:field="*{username}" placeholder="username">
                                    </div>
                            </div>
       
     
                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="surname" > Last name :  </p>
                                        <input type="text" class="form-control"  id="surname"th:field="*{surname}" placeholder="surname">
                                    </div>
                            </div>
        
     

                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="city"> City: </p>
                                        <input type="text" class="form-control"  id="city"  th:field="*{city}" placeholder ="city">
                                    </div>
                            </div>


                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="age"> Age: </p>
                                        <input type="text" class="form-control"  id="age" th:field="*{age}" placeholder="age">
                                    </div>
                            </div>



                            <div class="row justify-content-center">
                                    <div class="col col-sm-8">
                                        <p class="form-label" align="center" for="password"> Password: </p>
                                        <input type ="text" class="form-control" th:field="*{password}" id="password" placeholder="password">
                                    </div>
                            </div>
						

                                    <div clas="col col-sm-8">
                                            <p class ="form-label" align="center" for="roles"> Roles:</label></p>
                                        <div clas="row justify-content-center">
                                            <select data-th-name="roles_List" multiple input type="list">

                                                <option th:each="role:${RolesSet}"
                                                        th:value="${role.getId()}"
                                                        th:text="${role.roleName}"></option>
                                            </select> </p>
                                        </div>

                                    </div>






                        <div class="text-center">
                            <button type="button-submit" class="btn btn-success" align="center" >Add new user</button>
                        </div>


			</form> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    Вкладка юзер для админа-->
                    <div class="tab-pane fade" id="AdminTable">
                        <h2 class="h2">User information-page</h2>
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body text-center">
                                <table class="table table-striped">
                                    ​
                                    <!--Здесь ты делаешь таблицу с данными авторизованного в данный момент юзера. (посказка - Principal)-->
                                    ​
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
</body>
</html>