<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-md">
        <h1>User information-page</h1>
           <br>
            <table class="table table-hover">

               <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Возраст</th>
                        <th scope="col">Город</th>
                        <th scope="col">Роли</th>

                    </tr>
               </thead>


                    <tr >
                        <td th:utext="${loggedInUser.id}">ID</td>-->
                        <td th:utext="${loggedInUser.userName}">First name</td>
                        <td th:utext="${loggedInUser.surname}">Surname</td>
                        <td th:utext ="${loggedInUser.age}">Age</td>
                        <td th:utext="${loggedInUser.city}">City</td>

                                <td >
                                     <ul>
                                        <th:block th:each="role : ${loggedInUser.roles}">
                                            <li th:text="${role.roleName}">ROLE_USER</li>
                                        </th:block>
                                     </ul>
                                </td>


                    </tr>

               </table>
    </div>
</div>